.modal-action-button {
  width: 110px;
  height: 110px;
  border-radius: 25px;
}

.modal-button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 102%;
  /* identical to box height, or 16px */

  letter-spacing: 0.01em;

  color: #eeeeee;
}
